.but-rat {
  background-color: transparent;
  border-color: transparent;
  width: 100px;
  cursor: pointer;
  outline: none;
}

.rate-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rating-star {
  height: 36px;
}

.list-cat {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 70px;
}

.list_rat {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50px;
}

.cat-but {
  background-color: transparent;
  border-color: transparent;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto';
  color: #64748b;
  margin: 5px;
}

.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

.clear-but {
  color: #0967d2;
  background-color: transparent;
  border-color: #0967d2;
  border-style: solid;
  border-radius: 8px;
  height: 45px;
  width: 120px;
  cursor: pointer;
  outline: none;
}
